/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

#deportes{
  .wrap {
    width: 1330px !important;
  }
}

#reserva{ 
  #inner-reserva{ 
    span{
    width: 30vw  !important;
    font-size: 2.5em !important;
    }
  }
}
#deportes{

	.especialidad{

		height: 210px !important;
	}
}

.wrap {
  width: 1040px;
}

.header {
	height: 45em;
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
  display: block;
}
  

/*********************
FOOTER STYLES
*********************/

.footer {
  p{
    text-align: left;
  }
	clear: both;
	background-color: $morado-ayto;
	color: $light-gray;
	#inner-footer{
		padding-top: 1em;
		padding-bottom: 1em;
	}
	span{
		display: block;
		float: right
  }	
}

/*********************
SINGLE STYLES
*********************/
.single{
  main{
		width: 100%;
	}
}